# Connecting to SQL Lite in Python

In [1]:
import sqlite3

In [4]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect('Chinhook_Databases')
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

* sqlite3.connect(path) returns a connection object, which is in turn returned by create_connection(). 
- This connection object can be used to execute queries on an SQLite database. The following script creates a connection to the SQLite database:

In [6]:
connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

- To execute queries in SQLite, use cursor`.execute().` 
- In this section, we'll define a function `execute_query()` that uses this method. 
- Our function will accept the connection object and a query string, which we'll pass to cursor.execute().

- `.execute()` can execute any query passed to it in the form of string. 
- We'll use this method to create tables in this section. In the upcoming sections, We'll use this same method to execute update and delete queries as well.

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [8]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

Finally, we'll call `executequery()` to create the table. We'll pass in the connection object that we created in the previous section, along with the `createusers_table` string that contains the create table query:

In [9]:
execute_query(connection, create_users_table)

Query executed successfully

In [10]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [11]:
execute_query(connection, create_posts_table)

Query executed successfully

In [12]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

- We can see that creating tables in SQLite is very similar to using raw SQL. All we have to do is store the query in a string variable and then pass that variable to `cursor.execute()`.

## Inserting Records

We have to store our `INSERT INTO` query in a string. Then, we can pass the connection object and query string to `execute_query()`. Let's insert five records into the users table:

In [13]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Query executed successfully

In [14]:
create_posts = """
INSERT INTO
  posts (title, description, user_id)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

Query executed successfully

In [15]:
create_comments = """
INSERT INTO
  comments (text, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

In both cases, we store our `INSERT INTO` query as a string and execute it with `execute_query().`

## Selecting Records

To select records using SQLite, we can again use `cursor.execute().` However, after youâ€™ve done this, we'll need to call `.fetchall()`. This method returns a list of tuples where each tuple is mapped to the corresponding row in the retrieved records.

To simplify the process, we can create a function `execute_read_query():`

In [17]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [18]:
select_users = "SELECT * from users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')

In the above script, the `SELECT` query selects all the users from the users table. This is passed to the `execute_read_query(),` which returns all the records from the users table. The records are then traversed and printed to the console.

We did focus on more complex SQL queries already so we are not going to show it here. However, we can run ANY select statement in the same way, including

- joins
- subqueries
- filtering
- aggregate functions
...

## Updating Table Records

Updating records in SQLite is pretty straightforward. We can again make use of `execute_query().` As an example, we can update the description of the post with an id of 2. The following script updates the description:

In [19]:
update_post_description = """
UPDATE
  posts
SET
  description = "The weather has become pleasant now"
WHERE
  id = 2
"""

execute_query(connection, update_post_description)

Query executed successfully

## Deleting Table Records

We can again use `execute_query()` to delete records from YOUR SQLite database. All we have to do is pass the connection object and the string query for the record you want to delete to `execute_query().` Then, `execute_query()` will create a cursor object using the connection and pass the string query to cursor.execute(), which will delete the records.

In [20]:
delete_comment = "DELETE FROM comments WHERE id = 5"
execute_query(connection, delete_comment)

Query executed successfully