## JSON Tutorial
___

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [3]:
first_json.to_json('json_columns.json', orient="columns")
first_json.to_json('json_index.json', orient="index")

`df = pd.read_json("nested.json")` # Doesnt work, use second method. This is a nested Json

In [7]:
import json
import os
#load json object
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

> We can see that the file is automatically loaded as a Python dictionary.
>
> We can use package `pprint` for pretty printing dictionaries. This makes the human-parsing of json requests much easier to understand.

We will use a function from Pandas `json_normalize(),`

In [8]:
pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

> We can see from above that the primary keys are the columns of the DataFrame. We were able to load it as a Pandas DataFrame but it still looks weird.

> We are going to add a parameter record_path to json_normalize to put a focus on a specific key from the file:

In [15]:
blog = pd.json_normalize(nested_json, record_path ='blog')
blog.head()

       name           URL
0  Datacamp  datacamp.com

In [18]:
article = pd.json_normalize(nested_json, record_path ='article')
article.head()

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

> json_normalize() has 3 main parameters:

- `data` - input data
- `record_path` - nested elements
- `meta` - let them as they are elements