# Pandas Viewing

In [1]:
import numpy as np
import pandas as pd

In [2]:
# object creation 

s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
#Create a DataFrame by passing a Numpy array with a datetime index and labeled columns.

dates = pd.date_range('20130101', periods=6)

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.542314 -1.920692  0.780296 -0.601324
2013-01-02 -1.946832  0.174518  2.670988 -1.101166
2013-01-03  0.041852 -0.451127  2.423947 -0.279090
2013-01-04  0.067117 -1.534849 -0.652659  0.862541
2013-01-05 -0.533639 -0.200394 -1.737564  0.484345
2013-01-06  1.205692 -2.196950 -0.336152  0.111155

In [8]:
df2 = pd.DataFrame({'A': 1.0,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### Viewing Data

In [10]:
df.head()

                   A         B         C         D
2013-01-01 -0.542314 -1.920692  0.780296 -0.601324
2013-01-02 -1.946832  0.174518  2.670988 -1.101166
2013-01-03  0.041852 -0.451127  2.423947 -0.279090
2013-01-04  0.067117 -1.534849 -0.652659  0.862541
2013-01-05 -0.533639 -0.200394 -1.737564  0.484345

In [11]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.067117 -1.534849 -0.652659  0.862541
2013-01-05 -0.533639 -0.200394 -1.737564  0.484345
2013-01-06  1.205692 -2.196950 -0.336152  0.111155

In [12]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

- Convert DataFrame to numpy array.

In [14]:
df.to_numpy()

array([[-0.54231408, -1.92069164,  0.78029629, -0.6013241 ],
       [-1.94683181,  0.17451812,  2.67098761, -1.10116596],
       [ 0.04185175, -0.4511274 ,  2.42394733, -0.27908971],
       [ 0.06711725, -1.53484922, -0.65265948,  0.86254145],
       [-0.53363921, -0.20039388, -1.7375642 ,  0.48434501],
       [ 1.20569193, -2.19695002, -0.33615191,  0.1111552 ]])

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.284687 -1.021582  0.524809 -0.087256
std    1.033702  0.988307  1.762050  0.720734
min   -1.946832 -2.196950 -1.737564 -1.101166
25%   -0.540145 -1.824231 -0.573533 -0.520766
50%   -0.245894 -0.992988  0.222072 -0.083967
75%    0.060801 -0.263077  2.013035  0.391048
max    1.205692  0.174518  2.670988  0.862541

- Transpose

In [16]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.542314   -1.946832    0.041852    0.067117   -0.533639    1.205692
B   -1.920692    0.174518   -0.451127   -1.534849   -0.200394   -2.196950
C    0.780296    2.670988    2.423947   -0.652659   -1.737564   -0.336152
D   -0.601324   -1.101166   -0.279090    0.862541    0.484345    0.111155

In [18]:
#and sort by column name

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.601324  0.780296 -1.920692 -0.542314
2013-01-02 -1.101166  2.670988  0.174518 -1.946832
2013-01-03 -0.279090  2.423947 -0.451127  0.041852
2013-01-04  0.862541 -0.652659 -1.534849  0.067117
2013-01-05  0.484345 -1.737564 -0.200394 -0.533639
2013-01-06  0.111155 -0.336152 -2.196950  1.205692

In [20]:
#We can also sort DataFrame by values in specific column.

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  1.205692 -2.196950 -0.336152  0.111155
2013-01-01 -0.542314 -1.920692  0.780296 -0.601324
2013-01-04  0.067117 -1.534849 -0.652659  0.862541
2013-01-03  0.041852 -0.451127  2.423947 -0.279090
2013-01-05 -0.533639 -0.200394 -1.737564  0.484345
2013-01-02 -1.946832  0.174518  2.670988 -1.101166