# Pandas Functions and artributes

1. pd.read_csv()
- The read_csv function is simple way to read csv (comma separated values) files, which is a commonly used file format for storing data.

In [2]:
import pandas as pd
df = pd.read_csv('csv_example')

2. df.head()
- The head() method returns the first n rows. If no parameter is specified, the number of rows defaults to 5

In [4]:
df.head (3)

  name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO

3. df.describe()
- The describe() method generates descriptive statistics.

In [7]:
#df.describe(include = all)
df.describe()

             age
count   7.000000
mean   30.142857
std    12.966991
min    18.000000
25%    20.500000
50%    27.000000
75%    35.000000
max    55.000000

4. astype()
- The astype() method is used to cast a Pandas object to a particular data type. It can be a very helpful function in case your data is not stored in the correct format (data type). For instance, if floating point numbers have somehow been misinterpreted by Python as strings, you can convert them back to floating point numbers with astype().

In [10]:
df['age'] = pd.to_datetime(df['age'])

5. value_counts()
- The value_counts() method returns a Pandas Series containing the count of unique values. Consider a dataset that contains customer information of 5,000 customers of a company. value_counts() will help us in identifying the number of occurrences of each unique value (customer) in a Series. It can be applied to columns containing data like province, the industry of employment, or the age of the customer.

In [11]:
df

  name                           age designation
0    a 1970-01-01 00:00:00.000000020          VP
1    b 1970-01-01 00:00:00.000000027         CEO
2    c 1970-01-01 00:00:00.000000035         CFO
3    d 1970-01-01 00:00:00.000000055          VP
4    e 1970-01-01 00:00:00.000000018          VP
5    f 1970-01-01 00:00:00.000000021         CEO
6    g 1970-01-01 00:00:00.000000035          MD

In [12]:
df['designation'].value_counts()

designation
VP     3
CEO    2
CFO    1
MD     1
Name: count, dtype: int64

6. drop_duplicates()
- The drop_duplicates() method returns a Pandas DataFrame with duplicate rows removed. There is also an option to keep the first occurrence (record) of the duplicate or the last. You can also specify the inplace and ignore_index attribute. df.drop_duplicates(keep='last', inplace=True)

In [13]:
df.drop_duplicates(keep='last', inplace=True)

7. groupby()
- The groupby() method is used to group a Pandas DataFrame by 1 or more columns, and perform some mathematical operation on it. groupby() can be used to summarize data in a simple manner, and you will use it very often in your career.

8. sort_values()
- The sort_values() method is used to sort columns in a Pandas DataFrame (or a Pandas Series) by values in ascending or descending order. By specifying the inplace argument as True, you can make change it directly in the original DataFrame.

In [16]:
df.sort_values(by = 'age', inplace=True)

9. Selecting data
- .loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found 
- .iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Python/NumPy slice semantics).