## Hypothesis Testing Assignment

In [1]:
#Importing necessary packages
import pandas as pd
import numpy as np
# package with hypothesis tests
import scipy.stats as st

### Data

You can download the data from [**here**](https://drive.google.com/file/d/0Bz9_0VdXvv9bUUNlUTVrMF9VcVU/view?usp=sharing&resourcekey=0-16O9Fc5eaJH99-M7AHqHOg). The data contains results of all NBA games from seasons 2013/2014 to 2015/2016.

In [8]:
df = pd.read_csv('nba_games_2013_2015.csv', delimiter = ';', header = 0)
df.head()
#df.describe()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22015,1610612750,MIN,Minnesota Timberwolves,21501226,2016-04-13,MIN vs. NOP,W,240,144,...,0.826,5,38,43,41,14,8,13,20,35.0
1,22015,1610612749,MIL,Milwaukee Bucks,21501225,2016-04-13,MIL vs. IND,L,240,92,...,0.846,7,36,43,23,8,3,15,15,-5.0
2,22015,1610612738,BOS,Boston Celtics,21501217,2016-04-13,BOS vs. MIA,W,240,98,...,0.864,10,29,39,20,7,3,7,20,10.0
3,22015,1610612747,LAL,Los Angeles Lakers,21501228,2016-04-13,LAL vs. UTA,W,239,101,...,0.867,8,39,47,19,6,3,13,17,5.0
4,22015,1610612739,CLE,Cleveland Cavaliers,21501220,2016-04-13,CLE vs. DET,L,265,110,...,0.733,8,35,43,21,4,7,10,23,-2.0

In [13]:
seasons = df['SEASON_ID'].unique()
seasons

array([22015, 22014, 22013])

--------------
### Task 1
Split the data into **3** separate dataframes for each NBA season!

In [20]:
df14 = df[df.SEASON_ID == (seasons[1])]

In [22]:
df13 = df[df.SEASON_ID == (seasons[2])]

In [25]:
df15 = df[df.SEASON_ID == (seasons[0])]

---------------
### Task 2
Test the hypothesis that the offensive productions stats of the Cleveland Cavaliers and Golden State Warriors (the teams that met in the finals that year) were from the same distribution in the 2015/2016 season.

Offensive production refers to two variables: `**PTS (Points)**` and `**FG_PCT (Field Goal Percentage)**`. We will need to do two separate hypothesis tests, one for each variable.

In [32]:
# Null Hypothesis = The average production (PTS, and FG_PCT) stats for Cleeland Cavaliiers and Golden State Warriors are the same

In [29]:
# PTS (Points)
CC = df15[df15['TEAM_NAME']=='Cleveland Cavaliers']['PTS']
GSW = df15[df15['TEAM_NAME']=='Golden State Warriors']['PTS']
print(CC.mean(), GSW.mean())

# Ttest hypothesis for the observed means for pts
stat, p = st.ttest_ind(CC, GSW)
print('%0.60f' % p)

104.32926829268293 114.89024390243902
0.000000014233420547764934843765885822373939983975787981762551

> - H<sub>0</sub>: averages of points are equal
> - H<sub>a</sub>: averages of points are not equal

> So since our p-value is <0.05, we reject the null hypothesis that the averages are equal.

In [30]:
# FG_PCT (Field Goal Percentage
CC = df15[df15['TEAM_NAME']=='Cleveland Cavaliers']['FG_PCT']
GSW = df15[df15['TEAM_NAME']=='Golden State Warriors']['FG_PCT']
print(CC.mean(), GSW.mean())

# Ttest hypothesis for the observed means for pts
stat, p = st.ttest_ind(CC, GSW)
print('%0.60f' % p)

0.46195121951219514 0.48847560975609755
0.002060975810475540025840102131837738852482289075851440429688

> - H<sub>0</sub>: averages of points are equal
> - H<sub>a</sub>: averages of points are not equal

> So since our p-value is <0.05, we reject the null hypothesis that the averages are equal.

-----------------
### Task 3
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.

- **Coach Blatt was fired on 24th of Jan, 2016**. 

Use the data from seasons 2014/2015 and 2015/2016 - those are years when Cleveland was coached by Blatt. 

**We have two possible solutions to try here:**
- Take the same amount of games from before and after and try t-test.
- Take all the games from before and after and look for the right test to compare two samples with different sizes. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

In [72]:
# Null Hypothesis = The number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed in the 2015/2016 season.
#Data freame for season 2013 games for CLE
# Season start date = 2013-10-30 - 2014-04-16
# of games = CLE14_15.value_counts('SEASON_ID') = 82 games

df13 = df[df.SEASON_ID == (seasons[2])]
BeforeBlatt = df13[df13.TEAM_ABBREVIATION == 'CLE']

Season14_16 = df[df.SEASON_ID != (seasons[1])]
With_Blatt = Season14_16[Season14_16.TEAM_ABBREVIATION == 'CLE']
With_Blatt.value_counts('SEASON_ID')

# since there are 82 games per season and 14_16 seasons has 164 games, so we will randomly sample 82 games from that season 
With_Blatt_sample = With_Blatt.sample(n=82)


# Now we use the t-test on average points

Without_Blatt = BeforeBlatt['PTS']
With_Blatt_ = With_Blatt_sample['PTS']

print ('Without Blatt', Without_Blatt.mean())
print ('With Blatt', With_Blatt_.mean())

Without Blatt 98.21951219512195
With Blatt 101.64634146341463

In [78]:
stat, p = st.ttest_ind(Without_Blatt, With_Blatt_)
print('%0.60f' % p)

0.067377788916353098525036102728336118161678314208984375000000

> - H<sub>0</sub>: The average number of points (PTS) scored by Cleveland Cavaliers changed significantly after the head coach changed
> - H<sub>a</sub>: averages of points didn't change

> So since our p-value is >0.05, we donot reject the null hypothesis.

----------------


### Task 4
Download [**the similar dataset**](https://drive.google.com/file/d/0Bz9_0VdXvv9bRHhuRTI1aXBQcTA/view?usp=sharing&resourcekey=0-jGIaWyk0bXyECNSzB3x38w) with scores from playoff games in 2016.

------------
### Task 5
Test the hypothesis that **number of blocks (BLK)** are from the same distribution in both the NBA playoffs and in the NBA regular season for 2015/2016 seaon for the **Toronto Raptors**. 

- We will be working with two samples with different sizes again.


-----------------
### Task 6
Test the hypothesis that the number of points (PTS) scored by Cleveland Cavaliers is equally distributed for all 3 seasons. 

- In this case, we need a hypothesis test that compares more than 2 distributions at the same. (You will need to go through the scipy documentation or google to figure out what kind of test is required.)

#### Follow Up
**Between which seasons can we see the significant difference?**

+ Unfortunatelly, this is not the output of an ANOVA test and further tests are needed to be run.
+ Note: Lebron James came back to the Cleveland Caveliers prior to season 2014/2015. We can use this fact to interpret our results correctly.